appdirs==1.4.4
bcj-cffi==0.5.1
boto3==1.18.34
botocore==1.21.34
Brotli==1.0.9
cached-property==1.5.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
compress-pickle==1.2.0
copulas==0.5.0
ctgan==0.4.3
cycler==0.10.0
deepecho==0.2.0
Faker==4.14.2
feather-format==0.4.1
gower==0.0.5
graphviz==0.17
h5py==3.3.0
humanfriendly==8.2
idna==3.2
importlib-metadata==4.6.3
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.3.1
llvmlite==0.36.0
matplotlib==3.4.2
multivolumefile==0.2.3
networkx==2.6.2
numba==0.53.1
numpy==1.21.1
packaging==21.0
pandas==1.1.4
patsy==0.5.1
Pillow==8.3.2
pomegranate==0.14.1
psutil==5.8.0
py7zr==0.16.1
pyarrow==5.0.0
pycox==0.2.2
pycparser==2.20
pycryptodomex==3.10.1
pyparsing==2.4.7
pyppmd==0.15.2
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
pyzstd==0.14.4
rdt==0.5.0
requests==2.26.0
s3transfer==0.5.0
scikit-learn==0.24.2
scipy==1.6.3
sdgym==0.4.1
sdmetrics==0.3.1
sdv==0.11.0
six==1.16.0
sklearn-pandas==2.2.0
sktime==0.5.3
statsmodels==0.12.2
tabulate==0.8.9
text-unidecode==1.3
texttable==1.6.4
threadpoolctl==2.2.0
torch==1.9.0
torchtuples==0.2.0
torchvision==0.10.0
tqdm==4.62.0
typing-extensions==3.10.0.0
urllib3==1.26.6
XlsxWriter==1.2.9
zipp==3.5.0
